.search {
  position: relative;
  padding: 0 80px 0 10px;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.search > input {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
}
.search > input:first-child {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #f1f1f1;
}
.search > input:last-child {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 15px;
  background-color: #ff841d;
  color: #fff;
}
.footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
.footer > div > a {
  float: left;
  width: 30%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-left: none;
}
.footer > div > a:nth-child(3) {
  border-right: none;
  width: 40%;
}
.footer > div > a > img {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.footer > p {
  padding-top: 10px;
}
#header {
  position: relative;
  height: 50px;
  background-color: #ff841d;
}
#header > a:nth-child(1) {
  position: absolute;
  left: 10px;
  top: 12.5px;
}
#header > a:nth-child(1) img {
  height: 25px;
}
#header > a:last-child {
  position: absolute;
  right: 10px;
  top: 8px;
}
#header > a:last-child img {
  height: 34px;
}
#search-bar {
  position: relative;
  padding: 0 80px 0 10px;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
#search-bar > input {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
}
#search-bar > input:first-child {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #f1f1f1;
}
#search-bar > input:last-child {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 15px;
  background-color: #ff841d;
  color: #fff;
}
#footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
#footer > div > a {
  float: left;
  width: 30%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-left: none;
}
#footer > div > a:nth-child(3) {
  border-right: none;
  width: 40%;
}
#footer > div > a > img {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
#footer > p {
  padding-top: 10px;
}
.back {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}
.back a {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.back a > img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-top: 10px;
}
#menu {
  background-color: #f2f2f2;
  padding-left: 10px;
  word-spacing: 2px;
  height: 50px;
  line-height: 50px;
}
#menu > a {
  display: inline-block;
  margin-right: 5px;
}
#categorylist {
  background-color: #fff;
}
#categorylist > ul > li {
  border-bottom: 1px solid #ccc;
}
#categorylist > ul > li > a {
  position: relative;
  display: block;
  min-height: 110px;
  padding: 10px;
  padding-left: 120px;
}
#categorylist > ul > li > a > img {
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  width: 100px;
  height: 100px;
}
#categorylist > ul > li > a > h4 {
  font-size: 16px;
  font-weight: 400;
  /* 显示两行 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#categorylist > ul > li > a > p {
  margin: 5px 0;
}
#categorylist > ul > li > a > p > span {
  color: #666;
  font-size: 12px;
}
